.main{
	margin:0 auto;
	margin-top:40px;
	width:1000px;
	border:1px solid gray;
}
.left{
	float:left;
	width:200px;
	height:1600px;
	border:1px solid gray;
	padding-top:8px;
	padding_left:5px;
}
.right_top{
	float:left;
	width:796px;
	height:130px;
	border:1px solid gray;
}
.right_center{
	float:left;
	width:796px;
	height:50px;
	border:1px solid gray;
}
.right_low{
	float:left;
	width:796px;
	height:800px;
	border:1px solid gray;
}
.discuss{
	float:left;
	width:796px;
	border:1px solid gray;
}
.pic{
	margin-left:20px;
	border:1px solid gray;
	width:160px;
	height:160px;
}
.bground{
	width:190px;
	height:25px;
	margin-left:5px;
	background:#E0E0E0;
	padding-top:10px;
}
.div1{
	width:200px;	
	text-align:center;
	float:left;
}
.div2{
	margin-top:8px;
	margin-left:15px;
	float:left;
	line-height:30px;
	float:left;
}
.title{
	margin-left:15px;
	margin-top:25px;
}
.content{
	margin-left:20px;
	margin-top:25px;
	font-size:20px;
}
	